@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply font-satoshi;
}

@font-face {
  font-family: "Satoshi-Variable";
  src: url("../public/fonts/Satoshi-Variable.woff2") format("woff2");
  font-weight: 300 900;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi-VariableItalic";
  src: url("../public/fonts/Satoshi-VariableItalic.woff2") format("woff2");
  font-weight: 300 900;
  font-display: swap;
  font-style: italic;
}
